.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.generator {
  width: 600px;
  /* height: 400px; */
  box-shadow: 0px 0px 5px 0px #308D46;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;

}

.generator__header {
  text-align: center;
  color: darkgreen;
  margin: 20px 0;
  text-transform: uppercase;
}

.generated__password {
  background-color: #308D46;
  padding: 24px 12px;
  color: #fff;
  margin-bottom: 15px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy__btn {
  color: #fff;
  background: #308D46;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

form {
  padding: 24px 12px;
}

label {
  font-size: 20px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 18px;
}

.generator__btn {
  background: #308D46;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 15px 10px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;

}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .generator {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }


  .copy__btn {
    padding: 10px;

  }

  .generator__btn {
    background: #308D46;
    border: none;
    width: 100%;
    padding: 12px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;

  }

  form {
    padding: 12px 6px;
    height: 60%;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
  }

  label {
    font-size: 18px;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
    color: gre;
    margin-bottom: 15px;
  }
}